
	h1 {
		font-family: 'DynaPuff', cursive;
		font-weight: normal;
        font-weight:bold;
		text-align: center;
		color: #ff7701;
        font-weight:700;
        font-style:normal;
        font-size: 108pt;}
    .naviboard {
        text-align: center;
        font-family: 'DynaPuff', cursive;
        font-weight:bold;
        font-size:46px;
        padding: 50px;
        background-color:#fef1e5; 
        padding-bottom:2%;
        clear: both;}
    .headimage{
        width:100%;
        height:50%;
    }
    .card {
        margin: 40px;
        border-radius: 50%;
        border-radius: 4px;
        padding: 5px;
        width: 75%;
        background-color:#fef1e5;
        text-align:center;
    }
    .threecard{
       margin:auto;
       padding-left: 20%;
    }
    .eventname{
    color: #ff7701;
    font-family: 'DynaPuff', cursive;
    font-weight:bold;
    font-size:48px
    }
    .divpage{
    background-color: #fef1e5;   
    }
    .card-body p {
    font-family: 'Kanit', sans-serif;
    font-size:26px;
    font-weight:lighter;
    color:#ffa352;
    padding:5px;}
    .headboard {
        padding-top:3%;
        padding-bottom:3%;
    }

    .logoimg {
        display: block;
        margin-left: auto;
        margin-bottom:-5%;
        margin-right: auto;
        width: 10%;
    }
    .signuptext{
    color: #ff7701;
    font-family: 'DynaPuff', cursive;
    font-weight:bold;
    padding-top:8%;
    font-size:30px
    }
    .signuptextinfo{
        font-family: 'Kanit', sans-serif;
        font-size:26px;
        font-weight:lighter;
        color:#ffa352;
        padding:5px;}
    #hamster {
        background-color: #ff7701;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    #dog {
        background-color: #ff7701;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    #cat {
        background-color: #ff7701;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    #submit {
       background-color: #ff7701; 
    }
    #messageBox {
        color: #ff7701;
        font-family: 'Kanit', sans-serif;
        font-size:20px; 
        padding-top: 1%;
        padding-bottom: 1%;
     }